@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode ter vários elementos)
*/

body {
    background-color: rgb(205,255,203);
    font-family:Arial, Helvetica, sans-serif;

}

h1 {
    color: rgb(4,109,0)
}

#principal{
    text-align: center;
    background-color: rgb(4,109,0);
    color: white;
}

h2 {
    color: rgb(51,77,49);
}

.basico {
    color:rgb(46, 138, 3);
    font-weight: bold;
    
}

.intermediario {
    color: rgb(177, 205, 50);
}

.avancado {
    color: rgb(255, 115, 0);
}

.destaque {
    background-color: rgb(177, 205, 50);
}